#!/bin/sh

#/usr/bin/docker run --name cb152eaedce847f5abb07b468f34c044_67326e --label 179394 \
#  --workdir /github/workspace --rm -e INPUT_WHO-TO-GREET -e HOME -e GITHUB_JOB -e GITHUB_REF \
#  -e GITHUB_SHA -e GITHUB_REPOSITORY -e GITHUB_REPOSITORY_OWNER -e GITHUB_RUN_ID \
#  -e GITHUB_RUN_NUMBER -e GITHUB_RETENTION_DAYS -e GITHUB_ACTOR -e GITHUB_WORKFLOW \
#  -e GITHUB_HEAD_REF -e GITHUB_BASE_REF -e GITHUB_EVENT_NAME -e GITHUB_SERVER_URL -e GITHUB_API_URL \
#  -e GITHUB_GRAPHQL_URL -e GITHUB_WORKSPACE -e GITHUB_ACTION -e GITHUB_EVENT_PATH \
#  -e GITHUB_ACTION_REPOSITORY -e GITHUB_ACTION_REF -e GITHUB_PATH -e GITHUB_ENV -e RUNNER_OS \
#  -e RUNNER_TOOL_CACHE -e RUNNER_TEMP -e RUNNER_WORKSPACE -e ACTIONS_RUNTIME_URL \
#  -e ACTIONS_RUNTIME_TOKEN -e ACTIONS_CACHE_URL -e GITHUB_ACTIONS=true -e CI=true \
#  -v "/var/run/docker.sock":"/var/run/docker.sock" \
#  -v "/home/runner/work/_temp/_github_home":"/github/home" \
#  -v "/home/runner/work/_temp/_github_workflow":"/github/workflow" \
#  -v "/home/runner/work/_temp/_runner_file_commands":"/github/file_commands" \
#  -v "/home/runner/work/sample-action-consumer/sample-action-consumer":"/github/workspace" \
#  179394:cb152eaedce847f5abb07b468f34c044  "BooBoo"

# NOTE: does not contain every env var, mostly relevant ones
CHARSET=UTF-8
CI=true
GITHUB_ACTION=datfinesoulsample-action
GITHUB_ACTION_REF=v0.0.2
GITHUB_ACTION_REPOSITORY=datfinesoul/sample-action
GITHUB_ACTIONS=true
GITHUB_ACTOR=datfinesoul
GITHUB_API_URL=https://api.github.com
GITHUB_BASE_REF=
GITHUB_EVENT_NAME=push
GITHUB_EVENT_PATH=/github/workflow/event.json
GITHUB_GRAPHQL_URL=https://api.github.com/graphql
GITHUB_HEAD_REF=
GITHUB_JOB=hello_world_job
GITHUB_REF=refs/heads/main
GITHUB_REPOSITORY=datfinesoul/sample-action-consumer
GITHUB_REPOSITORY_OWNER=datfinesoul
GITHUB_RETENTION_DAYS=90
GITHUB_RUN_ID=405210521
GITHUB_RUN_NUMBER=3
GITHUB_SERVER_URL=https://github.com
GITHUB_SHA=753b218fd97b9fb5f940674aeabac655dd35229d
GITHUB_WORKFLOW=.github/workflows/main.yml
GITHUB_WORKSPACE=/github/workspace
# NOTE: Injected at runtime
#HOME=/github/home
INPUT_SUMOLOGIC_CONFIG={"SUMOLOGIC_ACCESS_ID":"mock-id","SUMOLOGIC_ACCESS_KEY":"mock-key","SUMOLOGIC_API_ENDPOINT":"https://api.us2.sumologic.com/api"}
INPUT_CLUSTER=p99
LANG=C.UTF-8
LC_COLLATE=C
PAGER=less
# NOTE: This had a space at the end in the original
PS1=\h:\w\$ 
# NOTE: Set at runtime
#PWD=/github/workspace
RUNNER_OS=Linux
RUNNER_TEMP=/home/runner/work/_temp
RUNNER_TOOL_CACHE=/opt/hostedtoolcache
RUNNER_WORKSPACE=/home/runner/work/sample-action-consumer
